<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All listings: </h3>
    <!-- <form action="/listings/new" method="get">
        <button>Add new listing</button>
    </form> -->
    <ul>
        <% for (let item of allListings) { %>
            <li>
                <a href="/listings/<%= item._id %>">
                    <%= item.title %>
                </a>
            </li>

        <% } %>
    </ul>
</body>